
.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.header-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile-pic {
  width: 50vh;
  height: auto;
  border-radius: 30%;
}
.profile-bio {
  width: 100vh;
  height: auto;
}
.button-group {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.projects-header {
  width: 80vh;
  /* display: flex;
  padding-left: 15vh; */
}

.MuiCardActions-root {
  justify-content: space-between;
}

.MuiCard-root:hover {
  filter: contrast(75%);
}